/**
 * Created by PhpStorm.
 * User: Xiaoya
 * Date: 2018-04-05
 * Time: 23:10
 */

/*
  定义色调
*/
$Acolor: #333;
$HAcolor: #FF5722;
$Titlecolor: #000;
$Textcolor: #999;


html,body {
    //font: 400 14px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    font: 400 14px/18px Montserrat, -apple-system, BlinkMacSystemFont, "PingFangSC-Regular", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
li, a {
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
a {
    color: $Acolor;
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    &:after {
        clear: both;
        content: '';
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}



.header {
    background: #393D49;
    width: 100%;
    height: 65px;
    position: relative;
    .logo {
        height: 65px;
        overflow: hidden;
        float: left;
        margin-right: 100px;
        a {
            img {
                width: 200px;
                margin-top: 5px;
            }
        }
    }
    .nav {
        float: left;
        > ul > li {
            float: left;
            position: relative;
            &:after {
                content: '';
                width: 100%;
                height: 3px;
                background: $HAcolor;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
            }
            &:hover:after {
                opacity: 1;
            }
            > a {
                color: white;
                padding: 0 30px;
                height: 65px;
                line-height: 65px;
            }
            &:hover .dropdown-menu {
                display: block;
            }
        }
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        z-index: 1;
        li {
            background: #393D49;
            min-width: 100px;
            a {
                color: white;
                padding: 15px 10px;
                display: block;
                text-align: center;
            }
            &:hover {
                background: $HAcolor;
            }
        }
    }
}

.footer {
    padding: 30px 0;
    background: #393D49;
    text-align: center;
    color: white;
    a {
        color: white;
    }
    p.bq {

    }
    span.pipe {
        margin: 0 10px;
    }
}


/*
  全局
*/
.content {
    float: left;
    width: 70%;
    padding: 10px;
    overflow: hidden;
}
.side {
    float: right;
}


/*
  Home index
*/
.banner {
    position: relative;
    ul.pic {

    }
    a.prev,a.next {
        margin: -20px 0 0;
        position: absolute;
        top: 50%;
        z-index: 10;
        cursor: pointer;
        background-color: rgba(0,0,0,.35);
        padding: 15px 19px;
        border-radius: 50%;
        color: white;
        font-family: 宋体;
    }
    a.prev {
        left: 10px;
    }
    a.next {
        right: 10px;
    }
    ul.hd {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
        z-index: 1;
        li {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin: 0 7px;
            display: inline-block;
            cursor: pointer;
            background: rgba(0,0,0,.5);
            box-shadow: 0 0 8px 2px #fff;
        }
        .on {
            background: white;
        }
    }
}
.recommend {
    overflow: hidden;
    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 30px;
    }
    li {
        height: 175px;
        width: 260px;
        float: left;
        margin: 0 20px 30px 0;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        h4 {
            font-size: 16px;
            font-weight: 400;
            color: $Titlecolor;
            margin-top: 7px;
        }
        &:hover h4 {
            color: $HAcolor;
        }
    }
}
.new_list {
    overflow: hidden;
    margin-top: 30px;
    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 30px;
    }
    section.list {
        position: relative;
        height: 160px;
        padding: 0 0 25px 260px;
        margin-bottom: 25px;
        border-bottom: 1px solid #f0f0f0;
    }
    .imgfull {
        overflow: hidden;
        width: 240px;
        height: 160px;
        position: absolute;
        left: 0;
        top: 0;
        img {
            -webkit-transition: all .6s;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2px;
        }
    }
    h2 {
        font-weight: 400;
        a {
            display: inline-block;
            margin-top: 10px;
        }
        &:hover a {
            color: $HAcolor;
        }
    }
    .data {
        span.author {
            margin-right: 20px;
        }
        span.time {
            margin-right: 20px;
        }
        span.view {

        }
    }
    .desc {
        margin-top: 20px;
        color: $Textcolor;
        line-height: 20px;
    }
}

/*
    side
*/
.sidebar {
    width: 25%;
    float: right;
    .side_block {
        h3 {
            font-size: 20px;
            font-weight: 400;
            padding: 0 0 0 25px;
            border-left: 4px solid #f63756;
        }
        .tags {
            padding: 0 0 0 20px;
            a {
                display: inline-block;
                padding: 5px 7px;
                margin: 5px;
                border: 1px solid #E3E3E3;
                color: #666;
                &:hover {
                    color: $HAcolor;
                    border-color: $HAcolor;
                }
            }
        }
    }

    .hot_list {
        padding: 0 0 0 20px;
        li {
            margin-bottom: 30px;
        }
        a {
            &:hover {
                color: $HAcolor;
            }
        }
        p {
            color: #999;
            margin-top: 10px;
        }
    }

    .nav_list {
        padding: 0 0 0 20px;
        li {
            a {
                display: block;
                padding: 5px 0;
                &:hover {
                    color: $HAcolor;
                }
            }
        }
    }
}

.warp_full {
    position: relative;
    .list {
        article {
            position: relative;
            height: 160px;
            padding: 0 0 25px 260px;
            margin-bottom: 25px;
            border-bottom: 1px solid #f0f0f0;
            a.imgfull {
                overflow: hidden;
                width: 240px;
                height: 160px;
                position: absolute;
                left: 0;
                top: 0;
                img {
                    -webkit-transition: all .6s;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2px;
                }
            }
            h2 {
                font-weight: 400;
                a {
                    display: inline-block;
                    margin-top: 10px;
                    &:hover {
                        color: $HAcolor;
                    }
                }
            }
            .data {
                span.author {
                    margin-right: 20px;
                }
                span.time {
                    margin-right: 20px;
                }
                span.view {

                }
            }
            .desc {
                margin-top: 20px;
                color: $Textcolor;
                line-height: 20px;
            }
        }
    }
}
